# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
continuation_indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
tab_width = 4

[*.{gradle,groovy,java,js}]
indent_style = space
indent_size = 4
continuation_indent_size = 4
max_line_length = 120

[*.{xml,yaml}]
indent_style = space
indent_size = 4
continuation_indent_size = 4

[*.txt]
indent_style = tab
indent_size = 4

[*.{diff,md}]
trim_trailing_whitespace = false
